@using Microsoft.AspNetCore.Identity
@using Blognet.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fa fa-user me-2 text-primary" aria-hidden="true"></i>@UserManager.GetUserName(User)!</a>
    </li>
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-power-off" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                    <li>
                                    <a class="dropdown-item" href="/Account/Logout" >Settings</a>
@*              <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>*@
                    </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
              </ul>
            </li>
  @*  <li class="nav-item">
        
       <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>*@
}
</ul>
